table {
  border-collapse: collapse;
  border-spacing: 0;
}

.map td {
  border: 1px solid grey;
}

.spacer {
  padding: 10px;
  color: #ccc;
}

.rover_is_here {
  background: url('../../assets/rover_01.png') chartreuse no-repeat center;
  background-size: 30px;
}
