<style>
</style>

<div class="content" role="main">
  <header>

  </header>

  <div class="card highlight-card card-small">

    <span>eigth</span>
    <input
      class="form-control"
      type="number"
      min=0
      [(ngModel)]="inputLocation.eight"
      placeholder="{{ eight }}"/>
    <span>width</span>
    <input
      type="number"
      min=0
      [(ngModel)]="inputLocation.width"
      placeholder="{{ width }}"/>
    <span>command</span>
    <input
      type="text"
      [(ngModel)]="command"
      (keyup)="checkCommand($event)"
      placeholder="Enter your command: AALAARALA"
    />
    <span>x</span>
    <input
      type="number"
      min="0"
      [(ngModel)]="inputLocation.location.latitude"
      placeholder="latitude"/>
    <span>y</span>
    <input
      type="number"
      min="0"
      [(ngModel)]="inputLocation.location.longitude"
      placeholder="longitude"/>

    <select [(ngModel)]="inputLocation.orientation">
      <option
        *ngFor="let orientation of orientationList"
        [ngValue]="orientation.value"
        (click)="addOrientation(orientation)"
        >
        {{ orientation.name }}
      </option>
    </select>
    <button
      class="btn btn-default"
      type="button"
      [disabled]="allSettingsGo()"
      (click)="handleClick()"
    >START</button>
    <pre>{{inputLocation | json}}</pre>

  </div>

  <!-- Footer -->
  <footer>

  </footer>



</div>



