<div class="content" role="main">
  <header>
    {{ roverWasLanded }}
  </header>

  <mat-card class="card-container">
    <mat-card-title>Mars Rover Localization Panel</mat-card-title>
    <mat-card-subtitle style="color: grey">This panel allows you to move the rover throw a map:
    </mat-card-subtitle>
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
             class="coloredContainerX box">
          <div fxFlex class="form">
            <div class="card">
              <form [formGroup]="locationForm" (ngSubmit)="handleClick()">
                <div class="form-group">
                  <div *ngIf="!roverWasLanded">
                    <mat-form-field appearance="legacy" color="black">
                      <mat-label>Eigth</mat-label>
                      <input
                        matInput
                        type="number"
                        placeholder="Eigth"
                        min=0
                        formControlName="height"
                        [disabled]="roverWasLanded"
                      >
                    </mat-form-field>
                    <mat-form-field appearance="legacy" color="black">
                      <mat-label>Width</mat-label>
                      <input
                        matInput
                        type="number"
                        min=0
                        placeholder="Mars square width"
                        formControlName="width"
                        [disabled]="roverWasLanded"
                      >
                    </mat-form-field>
                    <mat-form-field appearance="legacy" color="black">
                      <mat-label>Latitude</mat-label>
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Latitude"
                        formControlName="latitude"
                        [disabled]="roverWasLanded"
                      >
                      <mat-hint>Nord-South</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" color="black">
                      <mat-label>Longitude</mat-label>
                      <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Longitude"
                        formControlName="longitude"
                        [disabled]="roverWasLanded"
                      >
                      <mat-hint>East-West</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" color="black">
                      <mat-label>Orientation</mat-label>
                      <mat-select formControlName="orientation">
                        <mat-option
                        *ngFor="let orientation of orientationList"
                        [value]="orientation.value"
                        >{{ orientation.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <mat-form-field appearance="legacy" color="black">
                    <mat-label>Command</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Enter your command: AALAARALA"
                      formControlName="command"
                    >
                    <mat-hint>A: Advance, L: Left, R: Right</mat-hint>
                  </mat-form-field>
                </div>

                <!-- <div class="form-group">
                  <div> initial Rover location:</div>
                  <div class="initialLocationForm">
                    <div class="container">
                      <span>Eigth (<i>*</i>):</span>
                      <input
                        class="form-control"
                        type="number"
                        min=0
                        placeholder="Mars square height"
                        formControlName="height"
                      />
                      <span
                        *ngIf="!locationForm.get('height').valid && locationForm.get('height').touched"
                        class="hasErrors"
                      >This field is required</span>
                    </div>

                    <div class="container">
                      <span>Width (<i>*</i>):</span>
                      <input
                        class="form-control"
                        type="number"
                        min=0
                        placeholder="Mars square width"
                        formControlName="width"
                        [disabled]="roverWasLanded"
                      />
                      <span
                        *ngIf="!locationForm.get('width').valid && locationForm.get('width').touched"
                        class="hasErrors"
                      >This field is required</span>
                    </div>

                    <div class="container">
                      <span>Latitude (<i>*</i>):</span>
                      <input
                        class="form-control"
                        type="number"
                        min="0"
                        placeholder="Latitude"
                        formControlName="latitude"
                        [disabled]="roverWasLanded"
                      />
                      <span
                        *ngIf="!locationForm.get('latitude').valid && locationForm.get('latitude').touched"
                        class="hasErrors"
                      >This field is required</span>
                    </div>
                    <div class="container">
                      <span>Longitude (<i>*</i>):</span>
                      <input
                        class="form-control"
                        type="number"
                        min="0"
                        placeholder="Longitude"
                        formControlName="longitude"
                        [disabled]="roverWasLanded"
                        />
                        <span
                          *ngIf="!locationForm.get('longitude').valid && locationForm.get('longitude').touched"
                          class="hasErrors">This field is required</span>
                      </div>
                    <div class="container">
                      <span>Orientation (<i>*</i>):</span>
                      <select formControlName="orientation">
                      <option
                          *ngFor="let orientation of orientationList"
                          [ngValue]="orientation.value"
                          (click)="addOrientation(orientation)"
                          >
                          {{ orientation.name }}
                        </option>
                      </select>
                      <span
                        *ngIf="!locationForm.get('orientation').valid && locationForm.get('orientation').touched"
                        class="hasErrors"
                      >This field is required</span>
                    </div>
                  </div>
                  <hr>
                  <div class="container">
                    <span>Command (<i>*</i>):</span>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Enter your command: AALAARALA"
                      formControlName="command"
                    />
                    <span
                      *ngIf="!locationForm.get('command').valid && locationForm.get('command').touched"
                      class="hasErrors"
                    >
                    <span *ngIf="locationForm.get('command').errors['required']"> This field is required</span>
                    <span *ngIf="locationForm.get('command').errors['regeExpisForbidden'] && !locationForm.get('command').errors['required']"> Unknown comand
                      <img src="../assets/iconfinder_Space_mars_rover_6622866.png" height="25px"> !</span>
                  </span>
                  </div>
                </div> -->
                <button
                  mat-raised-button
                  color="primary"
                  [disabled]="!locationForm.valid"
                  type="submit"
                  >START</button>
              </form>
            </div>
          </div>
          <div fxFlex class="map">Map :
            <app-map></app-map>
          </div>
          <div fxFlex class="sidebar">
            <app-sidebar></app-sidebar>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <footer>
    <div class="container">
      <div class="row">
        Mars Rover Position Panel
      </div>
    </div>
  </footer>

</div>

<pre>{{ actualPosition | json }}</pre>

